.logoBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: 0 40px 0 0;
  .avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
    width: 20%;
    img{
      width: 40px;
      height: auto;
      margin: 0 8px;
    }
  }
  .title{
    width: 80%;
    text-align: center;
  }

}