.coinBox{
  cursor: pointer;
  display: flex;
  height: 85px;
  width: 27%;
  padding: 0 10px;
  margin: 10px 0 0 30px;
  box-shadow: 0 0 5px 0.5px rgba(255, 142, 17, 0.42);
  border-radius: 15px;
  &:hover{
    box-shadow: 0 0 20px 0.5px rgba(255, 142, 17, 0.42);
  }
  .left{
    display: flex;
    width: 70%;
    align-items: center;
    .logo{
      display: flex;
      align-items: center;
    }
    img{
      width: 65px;
    }
    .coinName{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px 0 0 0;
      margin: 0 0 0 10px;
      h5{
        margin: 0;
      }
      p{
        color: lightgrey;
        font-weight: bolder;
      }
    }
  }
  .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    .percent{
      color: limegreen;
      font-size: 16px;
      font-weight: bolder;
    }
    .price{
      margin: 12px 0 0 0;
      color: lightgrey;
      font-weight: bolder;
    }
  }
}


.main{
  display: flex;
  flex-direction: column;
  margin: 40px 35px;
}

.secondCoinBox{
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  width: 480px;
  height: 80px;
  padding: 0 0 20px 0;
  .coinLogo{
    width: 150px;
    padding: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    img{
      width: 80px;
    }
  }
  .coinInfo{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: start;
    height: 100%;
    width: 80%;
    h2{
      margin: 3px 0 1px 0;
    }
    p{
      color: lightgray;
    }
  }
  .likeBox{
    cursor: pointer;
  }
}

.priceBox{
  display: flex;
  align-items: center;
  margin: 0 0 0 20px;
  .priceInfo{
    display: flex;
    align-items: center;
    width: 50%;
  }
  h2{
    font-size: 45px;
  }
  h4{
    font-size: 35px;
    color: lightgrey;
  }
  .volume{
    display: flex;
    align-items: center;
    width: 50%;
    color: green;
    font-size: 18px;
  }
}